<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Save Order</title>
</head>
<body>
<div class="container">
    <h3>Order Directory</h3>
    <hr>
    <p class="h4 mb-4">Save Order</p>
    <form action="#" th:action="@{/orders/save}"
          th:object="${orders}" method="POST">
        <!-- Add hidden form field to handle update -->
        <input type="hidden" th:field="*{id}" />

        <select th:field="*{customer.id}" class="form-control mb-4 col-4">
            <option th:each="customer : ${customers}" th:value="${customer.id}" th:text="${customer.name}"></option>
        </select>
        <input type="date" th:field="*{order_date}"
               class="form-control mb-4 col-4" placeholder="order Date">
        <input type="text" th:field="*{total_amount}"
               class="form-control mb-4 col-4" placeholder="Total Amount">
        <input type="text" th:field="*{status}"
               class="form-control mb-4 col-4" placeholder="Status">
        <button type="submit" class="btn btn-info col-2">Save</button>
    </form>
    <hr>
    <a th:href="@{/orders/list}">Back to Order List</a>

</div>
</body>

</html>