<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>FAQ Form</title>
</head>
<body>
<h1 th:text="${faq == null} ? 'Add New FAQ' : 'Edit FAQ'"></h1>
<form th:action="@{/faq}" th:object="${faq}" method="post">
    <input type="hidden" th:field="*{faqid}"/>
    <label>Name:</label>
    <input type="text" th:field="*{name}" /><br/>
    <label>Description:</label>
    <textarea th:field="*{description}"></textarea><br/>
    <button type="submit">Save</button>
</form>
<a href="/faq">Back to list</a>
</body>
</html>
